@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* { /*config. geral*/
  margin: 0;
  padding: 0;
}

body { /*corpo do site*/
  background: url(../retro/img/download.gif) no-repeat center center fixed;
  background-size: cover;
  background-color: #0c0c0c; 
  color: #fff;
  font-family: "Press Start 2P", system-ui;
  padding: 3px 20px 20px 20px;
}

header { /*div. cabeçalho*/
  text-align: center;
  margin-bottom: 40px;
  background-color: #1a1a1a9a;
  border-radius: 12px;
}

ul { /*cabeçalho*/
  border: solid;
  text-decoration: none;
  border-radius: 12px;
  border-color: #1a1a1ab0;
  background-color: #1a1a1a9a;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
    padding: 16px;
}

.nav-link { /*btn header*/
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  background-color: #ff00008a;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  color: #000004;
}

.nav-login { /*btn login*/
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  background-color: #ff00008a;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #000004;
}

.nav-link:hover { /*efeito btn*/
  background-color: #ff000036;
}

.nav-login:hover { /*efeito btn login*/
  background-color: #ff000036;
}

.catalogo { /*fundo do titulo*/
  display: flex;
  flex-wrap: wrap;
  background-color: #1a1a1a9a;
  border: #1a1a1a9a;
  border-radius: 5px;
  gap: 300px;
}

.fundo { /*fundo da descrição*/
  background-color: #1a1a1a9a;
  border: #1a1a1a9a;
  border-radius: 5px;
  gap: 0px;
}

.titu { /*titulo*/
  background-image: linear-gradient(to bottom, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;    
  text-align: center;
  padding: 10px;
}

.quebra { /*sinopse*/
  background-image: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 6px;
  font-size: 20px;
}

.container-slider { /*config slider*/
  display: flex;
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images { /*img slider*/
  position: relative;
  width: 700px;
  height: 400px;
}

.slider { /*slider*/
  border-radius: 10px;
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider.on { /*primeiro video slider*/
  opacity: 1;
  z-index: 2;
}

.slider:not(.on) {  /*efeito slider*/
  pointer-events: none; 
}

.slider.on video { /*video slider*/
  pointer-events: auto;
}

#prev-button, #next-button { /*btn slider*/
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img { /*img btn*/
  width: 100%;
  height: 100%;
}

#prev-button { /*img prev btn*/
  transform: rotate(180deg);
}

.desc { /*descrição*/
  text-align: center;
  padding: 27px;
  background-image: linear-gradient(to top, red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-container { /*download*/
  display: flex;
  text-decoration: none;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.dow { /*btn download*/
  border: solid;
  border-radius: 12px;
  border-color: #1a1a1ab0;
  color: red;
  background-color: #1a1a1a9a;
  padding: 12px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.dow:hover { /*efeito download*/
  text-decoration: none;
  background-color: #2a06648a;
  transform: scale(1.05);
}

.dow p { /*paragrafo download*/
  text-decoration: none;
  margin: 0;
}

.dow a {
  text-decoration: none;
}

.autoral { /*footer*/
  text-align: center;
  margin-top: 100px;
  justify-content: center;
}

.soldier { /*img footer*/
  width: 150px;
  filter: drop-shadow(0 0 5px red);
}