@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* { /*config geral*/
    margin: 0;
    padding: 0;
}

body { /*corpo do site*/
    background: url(../retro/img/catalogo.gif) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Press Start 2P", system-ui;
    padding: 3px 20px 20px 20px;
}

header { /*div header*/
    text-align: center;
    margin-bottom: 40px;
    background-color: #1a1a1a9a;
    border-radius: 12px;
}

ul { /*header*/
    border: solid;
    text-decoration: none;
    border-radius: 12px;
    border-color: #1a1a1ab0;
    background-color: #1a1a1a9a;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.nav-link { /*btn header*/
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff00008a;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    color: #000004;
}

.nav-login { /*btn login*/
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff00008a;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #000004;
}

.nav-link:hover { /*efeito btn*/
    background-color: #ff000036;
}

.nav-login:hover { /*efeito btn login*/
    background-color: #ff000036;
}

.catalogo { /*agrupamento dos cards*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card { /*cards*/
    background-color: #1a1a1a9c;
    border: 3px solid #666;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    transition: transform 0.3s ease;
}

.card:hover { /*efeito card*/
    display: inline-block;
    transform: scale(1.05);
    border-color: #8e1ef7;
    background-color: #1a1a1ac5;
}

.thumb { /*img dos cards*/
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.game-title { /*titulo do card*/
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #d8d8d8;
}

.autoral { /*footer*/
    text-align: center;
    margin-top: 100px;
    justify-content: center;
}

.soldier { /*img footer*/
    width: 150px;
    filter: drop-shadow(0 0 5px red);
}
